<header class="container">
    <h1>{{title}}</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam unde libero rem odit quia commodi a reiciendis adipisci dolores, dolorem, eum quam, similique nisi delectus aspernatur saepe esse iusto ea.</p>
    <nav>
      <ul>
        <li> 
          <a routerLink="/">Home</a>
        </li>
        <li> 
          <a routerLink="/products">Products</a>
        </li>
        <li> 
          <a routerLink="/pico-preview">Pico Preview</a>
        </li>
      </ul>
    </nav>
</header>
<router-outlet></router-outlet>